
@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyContent2" style="text-align:center">
    <div class="container">
        <img class="owner" src="~/Content/Images/imagesforfrontend/owner.jpg" />
        <div class="owner-info">
            <div class="panel panel-default OwnerInfo">
                <div class="panel-Category">
                    <ul class="OwnerList">
                        <li>Name :Ramona Pace </li>
                    </ul>
                </div>
                <div class="OwnerList">
                    <ul>
                        <li>Email: oppositeEnds@gmail.com</li>
                    </ul>
                </div>
                <div class="OwnerList">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>