
@{
    ViewBag.Title = "Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyContent2" style="text-align:center">
    <div class="container">
        @*<div class="row">*@
        <div class="col-md-3 col-sm-3">
            @*<img class="owner" src="~/Content/Images/imagesforfrontend/suhan.jpg" />*@
            <img class="owner" src="~/Content/Images/imagesforfrontend/aavishkar.jpg" />
            <div class="owner-info">
                <div class="panel panel-default OwnerInfo">
                    <div class="panel-Category">
                        <ul class="OwnerList">
                            <li>Name : Aavishkar Yonjan </li>
                        </ul>
                    </div>
                    <div class="OwnerList">
                        <ul>
                            <li>Email: aavishkar.yonjan@selu.edu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-md-3 col-sm-3 ">  
        <img class="owner" src="~/Content/Images/imagesforfrontend/suhan.jpg" />
        <div class="owner-info">
            <div class="panel panel-default OwnerInfo">
                <div class="panel-Category">
                    <ul class="OwnerList">
                        <li>Name : Suhan Radke </li>
                    </ul>
                </div>
                <div class="OwnerList">
                    <ul>
                        <li>Email: Suhanadhikari@gmail.com</li>
                    </ul>
                </div>
                           </div>
        </div>
    </div>
    
    @*<div class="container">*@
       
        <div class="col-md-3 col-sm-3">
            <img class="owner" src="~/Content/Images/imagesforfrontend/shiva.jpg" />
            @*<img class="owner" src="~/Content/Images/imagesforfrontend/suhan.jpg" />*@
            <div class="owner-info">
                <div class="panel panel-default OwnerInfo">
                    <div class="panel-Category">
                        <ul class="OwnerList">
                            <li>Name : Shiva Shrestha </li>
                        </ul>
                    </div>
                    <div class="OwnerList">
                        <ul>
                            <li>Email: Shiva.shrestha@selu.edu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">

            <img class="owner" src="~/Content/Images/imagesforfrontend/pembadidi.jpg" />
            <div class="owner-info">
                <div class="panel panel-default OwnerInfo">
                    <div class="panel-Category">
                        <ul class="OwnerList">
                            <li>Name : Pemba Hyolmo </li>
                        </ul>
                    </div>
                    <div class="OwnerList">
                        <ul>
                            <li>Email: Pembahyolmo@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    @*</div>*@
@*</div>*@</div>
    </div>