@{
    ViewBag.Title = "OppositeEnds";
}

<body>
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1 id="Greet">Welcome  @*Let's view the beautiful collection of items we have here.*@</h1>
        <p id="Welcome">To Opposite Ends. </p>
     

    </header>
    <hr>
</div>
</body>