
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_VintageLayout.cshtml";
}


<div class="VinHeadcontent">

    <div class="col-md-8  @*col-md-pull-4*@">
        <div class="info1">
        <div class="container-fluid"> 

        <h2>And A Good Time Was Had By All</h2>
        <p>To ensure that each guest receives prompt, professional, friendly and courteous service. To maintain a clean, comfortable and well maintained premises for our guests and staff. To provide at a fair price – nutritional, well-prepared meals – using only quality ingredients. To ensure that all guests and staff are treated with the respect and dignity they deserve. To thank each guest for the opportunity to serve them. By maintaining these objectives we shall be assured of a fair profit that will allow us to contribute to the community we serve.</p>
</div>
  </div>
        </div>
    

        @*<div class="col-md-3 Time >*@
        <div class="col-md-4">
            <div class="container-fluid">
            <div class="restaurant-info border">
                <div class="info first">
                    <div class="info-header">Hours</div>
                    <div class="info-body hours">
                        <p>
                            <strong>Monday to Saturday</strong>
                        </p>
                        <p>10:00am - 5:00pm</p>
                        <p>
                            <strong>Sunday</strong>
                        </p>
                        <p>10:00am - 5:00pm</p>
                    </div>
                </div>
                <div class="info">
                    <div class="info-header">Address</div>
                    <div class="info-body address">
                        651 Main St Woodville, MS 39669<br>
                        @*Baton Rouge, LA 70802*@
                    </div>
                </div>


                <div class="info">
                    <div class="info-header">Phone</div>
                    <div class="info-body phone"><a href="tel://(225) 383-1754">(601) 888-4300</a></div>
                </div>
            </div>


        </div>
            </div>
            </div>




