
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_VintageLayout.cshtml";
}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<header class="jumbotron hero-spacer2">
    <h1 id="VinGreet">Welcome  @*Let's view the beautiful collection of items we have here.*@</h1>

    <p id="Welcome">to our online store, where you get the charm of a small town business from the comfort of a big city. We specialize in custom floral arrangements, gifts, furniture and more!</p>


    </header>


    <div class="hrs">

        <div class="panel panel-default CafeHours">
            <div class="panel-heading">Cafe Hours</div>
            <div class="panel-body">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="panel-body">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="panel-body">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="panel-body">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
