
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_VintageLayout.cshtml";
}


<div class="row">

    <div class="col-md-8 info @*col-md-pull-4*@">
        <div class="container"> </div>

        <h2>And A Good Time Was Had By All</h2>
        <p>Established in 1983, The Chimes has been serving up Louisiana Comfort food and quality beer for over thirty years. We've since expanded to three locations across South Louisiana and our commitment to great food, beer, and people has never been stronger. Thanks for the good times and heres to many more.</p>

        </div>
    

        <div class="col-md-3 Time @*col-md-push-8*@">
            <div class="restaurant-info border">
                <div class="info first">
                    <div class="info-header">Hours</div>
                    <div class="info-body hours">
                        <p>
                            <strong>Monday to Saturday</strong>
                        </p>
                        <p>11:00am - 2:00am</p>
                        <p>
                            <strong>Sunday</strong>
                        </p>
                        <p>11:00am - 11:30pm</p>
                    </div>
                </div>
                <div class="info">
                    <div class="info-header">Address</div>
                    <div class="info-body address">
                        3357 Highland Rd<br>
                        Baton Rouge, LA 70802
                    </div>
                </div>


                <div class="info">
                    <div class="info-header">Phone</div>
                    <div class="info-body phone"><a href="tel://(225) 383-1754">(225) 383-1754</a></div>
                </div>
            </div>


        </div>


    </div>


