.navbar-default {
   background-color:rgb(72, 9, 18);
}

ul.nav.navbar-nav.navbar-right {
    padding-bottom: 0px;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
    }

@media (min-width: 768px) {
    .navbar-header {
            padding-left: 20px;
                padding-top: 20px;
    padding-bottom: 20px;

    }
}

.FloralTitle{
    text-align:center;
    padding-bottom:50px;
    font-size: 45px;
    font-family: Oregano, cursive;

}



@media (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
 
  
   @media (min-width: 768px){
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

    
}

img#Logo {
    width: 130px;

}




h1.LogoName {
    display: inline-block;
   font-family: 'Amarante', cursive;
    font-size: 90px;
    padding-left: 15px;
     color: #f1eec3;
        
}

@media (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 20px
}



.navbar-default .navbar-nav > li > a {
    color: #f1eec3;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f5eaea;
    background-color:#6b1f1f;
}


@media (min-width: 768px) {
    .navbar-header {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 9px;
    }
}




/*footer CSS*/

 #myFooter {
    background-color: #373a48;
    color:white;
}

#myFooter .footer-copyright{
    background-color: #383737;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

<<<<<<< HEAD
.mad-carousel{
    height:400px;
    width:600px;
  padding:0px 20px 0px 20px;


}

.open-hrs {
    border: outset;
    border-radius: 25px;
    /*background-color:royalblue;*/
    height: 50px;
    font-family: Brush Script Std, Brush Script MT, cursive;
    text-align: center;
    background-image: url('Images/imagesforfrontend/background color.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 30px;
}
.welcome{
    font-size:45px;
    font-family: Brush Script Std, Brush Script MT, cursive;
    text-align:center;
}
.latte-de-cafe{
    border-radius:20px;
    height:30px;
    border:outset;
    text-align:center;
    font-size:20px;
    text-align:center;
    font-style:italic;
    color:royalblue;
}
.imgsize {
    min-height:400px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    object-fit:cover;
   
}
.vintage-page{
    border-radius:15px;
    border:outset;
    text-align:center;
    font-size:20px;
    font-family:italic serif;
    
   

}
.vintage-cafe{
    text-align:center;
     font-family: Brush Script Std, Brush Script MT, cursive;
    font-size:100px;

}
.hi{
    margin:0px;
    border:1px;
}
.marg{
    margin:3% 20% auto;
    position:initial;
    border-radius:3px;
    border:1px solid #d8cda9;
}
.hie{
    top:50px;
}

.signinlogo{
    font-size:20px;
    text-align:center;

}
.centeralignment{
    text-align:center;
}
.signindesign {
    margin: 0px 10px 0px 10px;
    padding: 40px 5px;
    height: 300px;
}


.hemp{
    border-bottom:1px solid;
    border-bottom-color:darkgray;
}
.oppositeends {
    font-family: Oregano, cursive;
    font-size: 40px;
    padding-left: 2%; 
    margin-bottom:0px;
    color:maroon;
    background-color:#efe3cb;
    border-bottom:outset;
   
}

input#SignIn {
    margin-right: 27%;
    margin-left: 27%;
}
.picforsignin {
    height: 300px;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
    background-image: url('Images/imagesforfrontend/antique-house.jpg');
}
.picforsignin:hover{
    opacity:1;
}
.manage{
    margin:20px auto 40px auto;
}
.pad{
    text-align:center;
}
.fullbgimg{
     background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
}
=======
#myFooter .footer-copyright p{
    margin:10px;
    color: #ccc;
}

#myFooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
    color:#d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
    text-decoration: none;
    color:white;
}

#myFooter .myCols{
    text-align: center;
}

#myFooter .social-networks{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
    text-decoration: none;

}

#myFooter .facebook:hover{
    color:#0077e2;
}

#myFooter .google:hover{
    color:#ef1a1a;
}

#myFooter .twitter:hover{
    color: #00aced;
}

@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}


/*Index Page*/

#Start{
    text-align:center;
}

#Greet{
    font-family: 'Homemade Apple', cursive;
    text-align:center;
    font-size:55px;
}
#Welcome{
    font-family: Oregano, cursive;
    text-align:center;
    font-size:35px;
}

@media screen and (min-width: 768px) {
    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
        background-color: #f1eec3;
    }
}


.container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    background-color: #f1eec3;
}
@media screen and (max-width: 768px) {
    /*.bodyContent {
        padding-top: 50px;
    }*/

    .container .jumbotron {
        min-height: 150px;
    }
}

   
     @media screen and (mix-width: 500px){
    #Start{
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .container .jumbotron {
        padding-right: 6%;
        padding-left: 6%;
    }
}




/*Admin Dashboard*/
.sidebar-nav {
    margin-top: -4%;
    width: 90%;
    background-color: #e3dbb4;
    color: maroon;
    height: 100%;
}

.model > ul, li, a {
    color:maroon;
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}


.bodyContent {
    margin-top: 2%;
    margin-bottom: 3%;
}

.row.ok {
    margin-top: -1.92%;
}

h5#headAdmin {
    font-family: 'Aldrich', sans-serif;
    padding-top: 15px;
    font: bold;
}


/*Carousel*/

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.hero-feature {
    margin-bottom: 30px;
}
.text-center{
    text-align:center;
}
.thumbnail > img {
    margin-right: auto;
    height: 280px;
    width: 300px;
    margin-left: auto;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: cursive;
    font-weight: bold;
}
div#adminNav {
    background-color: #e3dbb4;
}

.carousel-inner1 > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80%;
  height: 500px;
}

.background {
    background-image: url('Images/imagesforfrontend/vin1.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
}

/*Navbar text*/
.nav-bar-text{
    background-color: rgb(72, 9, 18);
    width: 43%;
    height: 100px;
    margin: 10px;

}
.nav-bar-motto{
    background-color: #480912;
    width: 43%;
    /*height: 100px;*/
    margin: 10px;
}

.navbar-container{
    display: -webkit-flex;
    display:flex;
    width:100%;
    height: 180px;
    align-items:center;
    background-color:rgb(72, 9, 18);
    justify-content: center;

}

.navbar-image{
    background-color: rgb(72, 9, 18);
    width: 7%;
    margin: 10px;
    margin-top: 2%;
}

.navbar-header{
    width:100%;
}

@media screen and (max-width: 790px){
    h1.LogoName {
    font-family: 'Amarante', cursive;
    font-size: 70px;
    padding-left: 15px;
        color: #f1eec3;
}

     .nav-bar-text {
        background-color: rgb(72, 9, 18);
        width: 75%;
        height: 100px;
        margin: 10px;
    }
    
   }


@media screen and (max-width: 1200px) {
    .nav-bar-text {
        background-color: rgb(72, 9, 18);
        width: 55%;
        height: 100px;
        margin: 10px;
    }
}


@media screen and (max-width: 1100px) {
    .nav-bar-text {
        background-color: rgb(72, 9, 18);
        width: 75%;
        height: 100px;
        margin: 10px;
    }
    
}
/*@media screen and (max-width: 500px) {
    .nav-bar-text {
        background-color: red;
        width: 75%;
        height: 100px;
        margin: 10px;
    }
     h1.LogoName {
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    padding-left: 15px;
        color: #f1eec3;
}
}*/

@media screen and (max-width: 1400px) {
    .nav-bar-text {
        background-color: rgb(72, 9, 18);
        width: 75%;
        height: 100px;
        margin: 10px;
    }
    #Logo {
        resize:none;
    }

    
}
@media screen and (max-width: 650px) {
    .nav-bar-text {
        background-color: rgb(72, 9, 18);
        width: 75%;
        height: 100px;
        margin: 10px;
    }

    h6.motto-name {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    color: #f1eec3;
        font-size: 15px;
}

    h1.LogoName {
        font-family: 'Amarante', cursive;
            font-size: 55px;
        padding-left: 15px;
        color: #f1eec3;
        text-align: center;
    }

    .navbar-container {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 90px;
        align-items: center;
        background-color: rgb(72, 9, 18);
        justify-content: center;
    }

        
    }

@media screen and (max-width: 850px) {
    .navbar-image {
        display: none;
    }
}


/*STICKY footer*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


.motto-container{
    width:100%;
    display:flex;
    font-family: 'Cabin Sketch', cursive;
    font-size: 75px;
    justify-content:center;
        margin-top: -18px;
        height: 67px;
}


h6.motto-name {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    color: #f1eec3;
        font-size: 28px;
}

nav-bar-motto {
    
}

@media screen and (max-width: 489px) {
    .nav-bar-motto{
        display: none;
    }
}





Footer-with-soc…l-icons.css:52
#myFooter .social-networks a {
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}