.navbar-default {
   background-color:rgb(72, 9, 18);
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 50px;
    padding-bottom: 0px;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
    }

@media (min-width: 768px) {
    .navbar-header {
            padding-left: 20px;
                padding-top: 20px;
    padding-bottom: 20px;

    }
}



@media (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
 
  
   @media (min-width: 768px){
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

    
}

img#Logo {
    width: 130px;
}
h1.LogoName {
    display: inline-block;
}

h1.LogoName {
    display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

@media (min-width: 768px) {
    .navbar-header {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 9px;
    }
}

h1.LogoName {
    font-family: 'Cabin Sketch', cursive;
    font-size: 45px;
    padding-left: 15px;
}

