.navbar-default {
   background-color:rgb(72, 9, 18);
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 50px;
    padding-bottom: 0px;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
    }

@media (min-width: 768px) {
    .navbar-header {
            padding-left: 20px;
                padding-top: 20px;
    padding-bottom: 20px;

    }
}



@media (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
 
  
   @media (min-width: 768px){
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

    
}

img#Logo {
    width: 130px;
}
h1.LogoName {
    display: inline-block;
}

@media (max-width: 768px) {
    ul.nav.navbar-nav.navbar-right {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}



.navbar-default .navbar-nav > li > a {
    color: #f1eec3;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f5eaea;
    background-color:#6b1f1f;
}


@media (min-width: 768px) {
    .navbar-header {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 9px;
    }
}

h1.LogoName {
    font-family: 'Cabin Sketch', cursive;
    font-size: 45px;
    padding-left: 15px;
        color: #f1eec3;
}


/*footer CSS*/

 #myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

<<<<<<< HEAD
.mad-carousel{
    height:400px;
    width:600px;
  padding:0px 20px 0px 20px;


}

.open-hrs {
    border: outset;
    border-radius: 25px;
    /*background-color:royalblue;*/
    height: 50px;
    font-family: Brush Script Std, Brush Script MT, cursive;
    text-align: center;
    background-image: url('Images/imagesforfrontend/background color.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 30px;
}
.welcome{
    font-size:45px;
    font-family: Brush Script Std, Brush Script MT, cursive;
    text-align:center;
}
.latte-de-cafe{
    border-radius:20px;
    height:30px;
    border:outset;
    text-align:center;
    font-size:20px;
    text-align:center;
    font-style:italic;
    color:royalblue;
}
.imgsize {
    min-height:400px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    object-fit:cover;
   
}
.vintage-page{
    border-radius:15px;
    border:outset;
    text-align:center;
    font-size:20px;
    font-family:italic serif;
    
   

}
.vintage-cafe{
    text-align:center;
     font-family: Brush Script Std, Brush Script MT, cursive;
    font-size:100px;

}
.hi{
    margin:0px;
    border:1px;
}
.marg{
    margin:3% 20% auto;
    position:initial;
    border-radius:3px;
    border:1px solid;
}
.hie{
    top:50px;
}

.signinlogo{
    font-size:20px;
    text-align:center;

}
.centeralignment{
    text-align:center;
}
.signindesign {
    margin: 0px 10px 0px 10px;
    padding: 40px 5px;
    height: 300px;
}


.hemp{
    border-bottom:1px solid;
    border-bottom-color:darkgray;
}
.oppositeends {
    font-family: Brush Script Std, Brush Script MT, cursive;
    font-size: 40px;
    padding-left: 2%; 
    margin-bottom:0px;
    color:maroon;
    background-color:#efe3cb;
}
input#SignIn {
    margin-right: 27%;
    margin-left: 27%;
}
.picforsignin {
    height: 300px;
    margin: 0px;
    padding: 0px;
    opacity: 0.8;
    background-image: url('Images/imagesforfrontend/antique-house.jpg');
}
.manage{
    margin:20px auto 40px auto;
}
.pad{
    text-align:center;
}
.fullbgimg{
     background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding:0px;
}
=======
#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}


/*Index Page*/

#Start{
    text-align:center;
}

#Greet{
    font-family: 'Homemade Apple', cursive;
    text-align:center;
    font-size:55px;
}
#Welcome{
    font-family: Oregano, cursive;
    text-align:center;
    font-size:35px;
}

@media screen and (min-width: 768px) {
    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
        background-color: #f1eec3;
    }
}


.container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    background-color: #f1eec3;
}
@media screen and (max-width: 768px) {
    .bodyContent {
        padding-top: 50px;
    }

    .container .jumbotron {
        min-height: 150px;
    }
}

   
     @media screen and (mix-width: 500px){
    #Start{
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .container .jumbotron {
        padding-right: 6%;
        padding-left: 6%;
    }
}





>>>>>>> 42b3536d0f3b9f83252ac3276e9b5edfc5a7559c
