

@*<div id="adminNav">*@
    @*<div class="sidebar-nav">*@
<div class="bodyContent">
        <div class="model" role="navigation" >
            <div >
                <ul class="adminList">
                    <li id="headAdmin"><b>ADMIN-DASHBOARD</b>
                    </li>
                    <hr class="lineHR">
                    
                    <li>@Html.ActionLink("Florals", "Index", "Florals")</li>
                    <hr class="lineHR">
                    

                    <li>@Html.ActionLink("Furnitures", "Index", "Furnitures")</li>
                    <hr class="lineHR">

                   
                </ul>
            </div>
        </div>


    </div>
@*<div class="bodyContent">
    <div class="panel panel-default Admin">
        <div class="panel-body">
            <ul>
                <li>@Html.ActionLink("Florals", "Index", "Florals")</li>
            </ul>
        </div>
        <div class="panel-body">
            <ul>
                <li>@Html.ActionLink("Furnitures", "Index", "Furnitures")</li>
            </ul>
        </div>

    </div>
    </div>*@

    @*</div>*@


    @*</div>*@
