

@*<div id="adminNav">*@
    @*<div class="sidebar-nav">*@
        <div class="model" role="navigation" >
            <div >
                <ul class="adminList">
                    <li id="headAdmin"><b>ADMIN-DASHBOARD</b>
                    </li>
                    <hr class="lineHR">
                    
                    <li>@Html.ActionLink("Florals", "Index", "Florals")</li>
                    <hr class="lineHR">
                    

                    <li>@Html.ActionLink("Furnitures", "Index", "Furnitures")</li>
                    <hr class="lineHR">

                   
                </ul>
            </div>
        </div>
@*</div>*@

   
@*</div>*@
