@model  IEnumerable<OppositeEnds.Models.Furniture>
 
@{
    ViewBag.Title = "Furnitures";
}

<div class="container">
<div class="col-xs-12 col-sm-12 ">
    <div class="row">
        @foreach (var furnitures in Model)
            {
            <div class="col-xs-12 col-md-4" >
                <div class="thumbnail">
                    <img class="img-responsive" src="~/Content/images/Furnitures/@(furnitures.Picture).jpg">
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span> @furnitures.Name</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@furnitures.Price USD</span>
                        </p>
                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>