@model  IEnumerable<OppositeEnds.Models.Furniture>
 
@{
    ViewBag.Title = "Furnitures";
}

<div class="Florals1">
<h1 id="TitleFlo" style="text-align:center">Welcome to our Furniture Section</h1>

<div class="Florals2">
    <div class="row Break">
        <div class="col-md-3 col-xs-12">


            <div class="panel panel-default cat">
                <div class="panel-heading">Furnitures</div>
                <div class="panel-body">
                    Dining
                </div>
                <div class="panel-body">
                    Living
                </div>
                <div class="panel-body">
                    Bed
                </div>
                <div class="panel-body">
                    Sofas
                </div>
            </div>
        </div>
        @foreach (var furnitures in Model)
            {
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("productdetails","FurnitureFront",new {id= furnitures.FurnitureId})">

                        <img class="img-responsive See" src="~/Content/images/Furnitures/@(furnitures.Picture).jpg" width="200">

                    </a>
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span> @furnitures.Name</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@furnitures.Price USD</span>
                        </p>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>



