@model OppositeEnds.Models.Furniture
@{
    ViewBag.Title = "productdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h2><img class="img-responsive" src="~/Content/images/Furnitures/@(Model.Picture).jpg"></h2>
