@model OppositeEnds.Models.Furniture
@{
    ViewBag.Title = "productdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn bg-primary Back" onclick="location.href='@Url.Action("Index", "FurnitureFront")'; return false;">Go Back</button>
<div class="ProductBody">
    <div class="ProductContent">
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <div class="well second">

                    <img class="img-responsive productItem" src="~/Content/images/Furnitures/@(Model.Picture).jpg" width="250">
                </div>

            </div>

            <div class="col-md-7">
                <div class="well first">
                    <h1>Name : @Model.Name</h1>
                    <h1>Category : </h1>
                    <h1>Price : $ @Model.Price </h1>
                    <div class="row Goup">
                        <div class="col-sm-4"><h1>Details : </h1></div> <div class="col-sm-6 Cat"><h1>Here will be some information about the current item </h1></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
