

@{
    ViewBag.Title = "FloralFront";
}

@model  IEnumerable<OppositeEnds.Models.Floral>

@{
    ViewBag.Title = "Florals";
}
<div class="container Florals">
<h1 id="TitleFlo" style="text-align:center">Welcome to our Florals Section</h1>
<div class="container Florals">
<div class="col-xs-12 col-md-12">
    <div>
        @foreach (var florals in Model)
            {
         
            <div class="col-xs-12 col-md-4">
                <div class="thumbnail">
                    <a href="@Url.Action("productdetails","Florals",new {id= florals.Id})">
                        <img class="img-responsive" src="~/Content/images/florals/@(florals.Picture).jpg">
                    </a>
                        <div class="caption text-center">
                            <p>
                                <b>Name:</b> <span> @florals.Name</span>
                            </p>
                            <p>
                                <b>Price:</b> <span>@florals.Price USD</span>
                            </p>

                        </div>
</div>
            </div>
        
               
        }
    </div>
    </div>
    </div>
    <div class="row">
        </div>
    </div>


